*.o
Makefile.conf
Makefile_kernel.conf
libgoto2*.a
libgoto2*.so
lapack-3.1.1
lapack-3.1.1.tgz

config.h
config_kernel.h

ctest/xccblat1
ctest/xccblat2
ctest/xccblat3
ctest/xdcblat1
ctest/xdcblat2
ctest/xdcblat3
ctest/xscblat1
ctest/xscblat2
ctest/xscblat3
ctest/xzcblat1
ctest/xzcblat2
ctest/xzcblat3
exports/linktest.c
exports/linux.def
getarch
getarch_2nd
kernel/kernel_ATOM.h
kernel/kernel_BARCELONA.h
kernel/kernel_CORE2.h
kernel/kernel_DUNNINGTON.h
kernel/kernel_NANO.h
kernel/kernel_NEHALEM.h
kernel/kernel_OPTERON.h
kernel/kernel_OPTERON_SSE3.h
kernel/kernel_PENRYN.h
kernel/kernel_PRESCOTT.h
kernel/setparam_ATOM.c
kernel/setparam_BARCELONA.c
kernel/setparam_CORE2.c
kernel/setparam_DUNNINGTON.c
kernel/setparam_NANO.c
kernel/setparam_NEHALEM.c
kernel/setparam_OPTERON.c
kernel/setparam_OPTERON_SSE3.c
kernel/setparam_PENRYN.c
kernel/setparam_PRESCOTT.c
test/CBLAT2.SUMM
test/CBLAT3.SUMM
test/DBLAT2.SUMM
test/DBLAT3.SUMM
test/SBLAT2.SUMM
test/SBLAT3.SUMM
test/ZBLAT2.SUMM
test/ZBLAT3.SUMM
test/cblat1
test/cblat2
test/cblat3
test/dblat1
test/dblat2
test/dblat3
test/sblat1
test/sblat2
test/sblat3
test/zblat1
test/zblat2
test/zblat3
